html, body
{
    background-color: #201D20;
    font-family: "Roboto Light", sans-serif;
    margin: 0;
    height: 100%;
}
.main_content{
    margin: 0 auto 0 auto;
    overflow: auto;
    width: 50%;
    align-content: center;
    background-color: #F9F8F6;
}
.main_menu{
    height: 5%;
    background-color: #C1F0E0;
}
.hello_world{
    font-size: 150%;
    text-align: center;
    background-color:#F9F8F6;
    width:100%;
    padding-bottom:10%; /* relative size and position on page  */
    float: left;
    position:relative;  /* coord system stop */
}
#LOGO{
    font-size: 150%;
    margin-top: 5px;
    margin-left: 25px;
    position: relative;
    float: left;
}
.anime_holder{
    display: inline-flex;
}